<!-- 


<script>
    // черновое, чтобы отслеживать на каком у меня этапе и что поламалось, если ломается:)
    const veiwResult = document.getElementById("veiw-result");
    const veiwResult2 = document.getElementById("veiw-result2");

    let birdPosition = null;
    const birdImg = document.getElementById("bird-img");
    

    document.addEventListener("click", function (event) {
        let birdImgRect = birdImg.getBoundingClientRect();
         let mouseX = event.clientX;
         let birdImgX = birdImgRect.left;
        birdPosition =
            mouseX < birdImgX ? true : mouseX > birdImgX ? false : null;
        const birdWalk = document.getElementById("bird-walk");
        const birdWalkRect = birdWalk.getBoundingClientRect();
        const mainContainerRect = document
            .getElementById("main")
            .getBoundingClientRect();

const distanceFromContainerToLeft = document
            .getElementById("main").offsetLeft;
        let currentTranslateX ;
        if (birdPosition === false) {
            if (birdWalkRect.left <= mainContainerRect.width) {
                currentTranslateX = mouseX + distanceFromContainerToLeft-40-150;
                birdWalk.style.transform = `translateX(${currentTranslateX}px)`;
            }
        } else if (birdPosition === true) {
            if (birdWalkRect.left > mainContainerRect.left) {
                currentTranslateX =  mouseX - distanceFromContainerToLeft-40;
                birdWalk.style.transform = `translateX(${currentTranslateX}px)`;
            }
        }
        veiwResult2.textContent = `mouseX: ${mouseX},mouseX - birdImgRect.left: ${mouseX - birdImgRect.left}, currentTranslateX: ${currentTranslateX}, birdImgRect.left: ${birdImgRect.left}, distanceFromContainerToLeft: ${distanceFromContainerToLeft}`;
    });
</script>

<style>
    #bird-img {
        width: 150px;
        background-color: red;
        

    }
    /* .flip {
        transform: scaleX(-1);
    } */
    #bird-walk {
        display: inline-block;
        transition: 2s;
        background-color: yellowgreen;
    }
    /* #bird-walk.right{transform: translateX(100px);}
    #bird-walk.left{transform: translateX(-100px);} */


    #veiw-result {
        width: 400px;
    }
  
</style>


    <div id="bird-walk">
        <img id="bird-img" src="../bird.svg" alt="птица" />


 
   
</div>
<p id="veiw-result"></p>
<p id="veiw-result2"></p>



 -->
<script>
    // черновое, чтобы отслеживать на каком у меня этапе и что поламалось, если ломается:)
    const veiwResult = document.getElementById("veiw-result");
    const veiwResult2 = document.getElementById("veiw-result2");

    document.addEventListener("click", function (event) {
        let mouseX;
        let birdPosition = null;
        const birdImg = document.getElementById("bird-img");
        // отвечает за поворот вправо влево
        let birdImgRect = birdImg.getBoundingClientRect();
        mouseX = event.clientX;
        let birdImgX = birdImgRect.left;
        birdPosition =
            mouseX < birdImgX ? true : mouseX > birdImgX ? false : null;

        if (birdPosition === false) {
            birdImg.classList.add("flip");
        } else if (birdPosition === true) {
            birdImg.classList.remove("flip");
        }

        // ходьба туда сюда и клевание
        const birdWalk = document.getElementById("bird-walk");
        const birdRotate = document.getElementById("bird-rotate");
        const birdWalkRect = birdWalk.getBoundingClientRect();
        const mainContainerRect = document
            .getElementById("main")
            .getBoundingClientRect();

        const distanceFromContainerToLeft =
            document.getElementById("main").offsetLeft;

        if (birdPosition === false) {
            if (birdWalkRect.left <= mainContainerRect.width) {
                let currentTranslateX =
                    mouseX - distanceFromContainerToLeft - 40 - 160;
                birdWalk.style.transform = `translateX(${currentTranslateX}px)`;
                //   клевание
                birdRotate.classList.toggle("right");
                setTimeout(function () {
                    birdRotate.classList.toggle("right");
                }, 2000);
            }
        } else if (birdPosition === true) {
            if (birdWalkRect.left > mainContainerRect.left) {
                let currentTranslateX =
                    mouseX - distanceFromContainerToLeft - 40 + 20;
                birdWalk.style.transform = `translateX(${currentTranslateX}px) `;
                //   клевание
                birdRotate.classList.toggle("left");
                setTimeout(function () {
                    birdRotate.classList.toggle("left");
                }, 3000);
            }
        }
        // veiwResult2.textContent = `0: ${birdWalkRect.left},1: ${mainContainerRect.left}, 2: ${mainContainerRect.width}, 3: ${birdWalk.style.transform}`;
    });
</script>

<style>
    #bird-img {
        width: 150px;
    }
    .flip {
        transform: scaleX(-1);
    }
    #bird-walk {
        display: inline-block;
        transition: 1.2s;
    }

    #veiw-result {
        width: 400px;
    }
    #bird-rotate {
        display: inline-block;
    }
    .right {
        animation: rotateBirdRight 1s;
        animation-delay: 1s;
        transform-origin: 82% 80%;
    }
    .left {
        animation: rotateBirdLeft 1s;
        animation-delay: 1.5s;
        transform-origin: 18% 80%;
    }
    @keyframes rotateBirdRight {
        0% {
            transform: rotate(0deg);
            transform-origin: 82% 80%;
        }

        30% {
            transform: rotate(100deg);
            transform-origin: 65% 60%;
        }
        100% {
            transform: rotate(0deg);
            transform-origin: 82% 80%;
        }
    }
    @keyframes rotateBirdLeft {
        0% {
            transform: rotate(0deg);
            transform-origin: 18% 80%;
        }

        30% {
            transform: rotate(-100deg);
            transform-origin: 35% 60%;
        }
        100% {
            transform: rotate(0deg);
            transform-origin: 18% 80%;
        }
    }
    .bottom-line {
        border-top: 1px solid black;
        margin-top: -5px;
        margin-bottom: 350px;
    }
</style>
<div id="bird-walk">
    <div id="bird-rotate">
        <img id="bird-img" src="../bird.svg" alt="птица" />
    </div>
</div>
<div class="bottom-line"></div>
<p id="veiw-result"></p>
<p id="veiw-result2"></p>
